{% include head.html %}
<header>
	<div class="container">
		<h2>{{ page.title | escape }}</h2>
	</div>
</header>
<section>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
					<h3>{{ page.title | escape }}</h3>
					<p class="h6">{{ page.date | date: date_format }}</p>
				</div>
				<article class="col-12 col-md-8">
					{{ page.content }}
				</article>
			</div>
		</div>
	</div>
</section>
{% include foot.html %}
